:root {
    --border-radius: .5rem;
    --light-border-radius: .25rem;
    --accent-color: #03adf4;
    --accent-color-transp: #03adf450;
    --accent-color-more-transp: #03adf420;
    --accent-color-lighter: #69d2ff;
    --animation-main: all .5s ease-in-out;
    --box-shadow: 0 0 .5rem #03adf47d;
}

@media (prefers-color-scheme: light) {
    :root {
        --background: white;
        --text-color: black;
        --card-bg: #00000030;
        --accent-color-lighter-transp: #4e8fab50;
        --accent-color-lighter-more-transp: #1193cb20;
    }

    .debugConsole {
        background-color: #000000c9;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: black;
        --text-color: white;
        --card-bg: #ffffff30;
        --accent-color-lighter-transp: #69d2ff50;
        --accent-color-lighter-more-transp: #69d2ff20;
    }

    #debugConsole {
        background-color: #000000a8;
    }
}

@media only screen and (max-width: 600px) {
    * {
        font-size: 1rem;
    }

    h1 {
        font-size: 1.5rem;
    }
    
    body {
        height: 100vmax !important;
    }
    
    table {
        width: 90% !important;
    }

    .copyButton {
        margin: auto;
    }

    #debugConsole {
        max-height: 20vmin !important;
        overflow: auto;
    }

    .updatedResult {
        overflow: auto;
    }
}

* {
    outline: none;
}

body {
    background-color: var(--background);
    color: var(--text-color);
    padding: 0;
    margin: 0;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    font-family: sans-serif;
}

h1 {
    width: 80%;
    text-align: center;
    background-color: var(--card-bg);
    padding: 1rem;
    border-radius: var(--border-radius);
}

#card {
    width: 80%;
    gap: 1rem;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    background-color: var(--card-bg);
    padding: 1rem;
    border-radius: var(--border-radius);
}

.homeLink {
    text-decoration: underline;
    color: var(--text-color);
    transition: var(--animation-main);
}

.homeLink:hover {
    color: var(--accent-color);
}

#input {
    background-color: var(--card-bg);
    border: solid .1rem transparent;
    border-radius: var(--light-border-radius);
    resize: vertical;
    width: 90%;
    height: 20vh;
}

#input:focus, #input:hover {
    background-color: var(--card-bg);
    border: solid .1rem var(--accent-color-lighter-transp);
    border-radius: var(--light-border-radius);
}

.formControls {
    width: 88.5%;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    padding: 1%;
    background-color: var(--card-bg);
    border-radius: var(--light-border-radius);
}

.button, .copyButton, select {
    cursor: pointer;
    transition: var(--animation-main);
}

.button, .copyButton {
    background-color: var(--accent-color);
    border-radius: var(--light-border-radius);
    border: 0;
    padding: .25rem;
    padding-left: .5rem;
    padding-right: .5rem;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    gap: .25rem;
}

.button > span {
    font-size: 1.2rem;
}

.button:hover, .copyButton:hover {
    background-color: var(--accent-color-lighter);
    box-shadow: var(--box-shadow);
}

#debugConsole {
    width: 90%;
    background-color: #000000a8;
    overflow-y: auto;
    border-radius: var(--light-border-radius);
    padding: .5rem;
    border: solid .1rem #ffffff50;
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    justify-content: space-between;
    color: #0f0;
    max-height: 30vh;
    overflow-y: auto;
}

.updatedResult {
    background-color: var(--accent-color-lighter-more-transp);
    width: 90%;
    border-radius: var(--light-border-radius);
    padding: .5rem;
    border: solid .1rem var(--accent-color-lighter-transp);
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
}

.updatedResult > pre {
    margin: 0;
    margin-bottom: 1rem;
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

table {
    width: 70%;
    border-collapse: collapse;
    margin: 10px auto;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

th {
    background-color: var(--card-bg);
}

tr:nth-of-type(even) {
    background-color: var(--accent-color-lighter-more-transp);
}

.emoji {
    font-size: 1.5rem;
}